body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #FFFFFF;
}
.container{
    margin-top: 2rem;
    background: #ccc;
    height: 90vh !important;
    width: 90% !important;
    padding: 1rem;
    border-radius: 1rem;
}
.container h1{
   margin-top: 6rem;
}
.container h2{
   margin-bottom: 2rem;
   color: blue;
}
.container h5{
   margin-left: -16rem;
}
.container .btn{
   width: 100% !important;
}
.container a{
   text-decoration: none;
  color: #000;
}
a h3{
   font-size: 18px !important;
}